@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.header {
  text-align: center;
  color: #59dfff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.header h3 {
  margin: 0;
  font-size: 30px;
  font-weight: 600;
}

.container {
  max-width: 915px;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px); /* Adjusted to accommodate footer */
}

.input-container {
  width: calc(100% - 20px); /* Adjusted width to be responsive */
  max-width: 700px; /* Added max-width to prevent container from stretching too much */
  background-color: #ffffff;
  display: flex;
  border-radius: 100px;
  z-index: 2;
  align-items: center;
  position: fixed;
  bottom: 0; /* Positioned at the bottom of the viewport */
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 9rem; /* Center the container horizontally */
  align-items: center;
}

#user-input {
  background-color: #000000;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 10px;
  flex: 1;
  font-size: 16px;
  border-radius: 20px;
  margin-right: 10px;
  height: 50px;
  width: calc(100% - 100px); /* Adjusted width to accommodate button */
}

#user-input::placeholder {
  color: #ffffff;
  font-weight: 800;
}

#send-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: none;
  background-color: #000000;
  color: #fff;
  cursor: pointer;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  transition: background-color 0.3s ease;
}

#send-button:hover {
  background-color: #000000;
}

.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: auto;
  padding: 20px 10px;
  margin-bottom: 100px;
}

#chat-log {
  overflow-y: auto;
  margin: 20px 10px;
}

.bot,
.user {
  display: flex;
  align-items: center;
  color: #ffffff;
  width: 100%;
  padding: 15px 10px;
  border-radius: 6px;
  font-size: 16px;
}

.message i.user-icon,
.message i.bot-icon {
  background-color: #42dd61;
  padding: 25px;
  margin-right: 10px;
  border-radius: 50%;
  color: #ffffff;
  width: 36px;
  height: 36px;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message.user i.user-icon {
  background-color: #5cce97;
}

.message.bot i.bot-icon {
  background-color: #ab68ff;
}

@media only screen and (min-width: 900px) {
  .input-container {
    width: 500px;
    padding: 0.8rem;
  }
}

@media only screen and (max-width: 900px) {
  .input-container {
    width: calc(100% - 20px); /* Adjusted width for smaller screens */
    border-radius: 50px; /* Smaller border-radius for smaller screens */
    padding: 8px;
    bottom: 10px; /* Adjusted position for smaller screens */
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pop-animation {
  animation: pop 0.3s ease;
}

.footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 5px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 3;
  font-size: 16px;
  font-weight: 600;
}
